<?xml version="1.0" encoding="utf-8"?>
<PluginDescriptor>
    <JavaPlugin>
        <interfaceClass>org.bimserver.plugins.serializers.SerializerPlugin</interfaceClass>
        <implementationClass>org.bimserver.obj.BinaryObjSerializerPlugin</implementationClass>
        <description>Serializer to OBJ</description>
        <name>OBJ Serializer</name>
    </JavaPlugin>
</PluginDescriptor>